* {
    margin: 0;
    font-family: arial;
    border: border-box;
}

.container{
    margin: 5rem 7rem;

}
.left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}
.left h1{
    font-weight: 700;
    font-size: 4rem;
}
.left .info{
    display: flex;
    flex-direction: column;
}
.left p{
    font-size: 1.5rem;
}

.left input{
    padding: 1rem;
    border-radius: 10px;
}
.left button{

    width: 20%;
    background-color: black;
}

.hero-section{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

header {
    margin-left: 25px;
}

.right {
    flex-direction: column;
    
}


